# Postgres
PGHOST=localhost
PGPORT=5432
PGUSER=me
PGPASSWORD=secret
PGDATABASE=highfive
PGSSL=false

# Mongo
MONGO_URL=mongodb://localhost:27017
MONGO_DB=highfive
 

# Push / VAPID
VAPID_PUBLIC_KEY=BKInQqJ_MtOzo5_UGx3WAuNSuRqTgY_fcxTh5v3chKXh3Z44Idl3ypdV4DUtk2QZ0ba8pLQSGUTvRdX3Cg5AYcY
VAPID_PRIVATE_KEY=0KN40VyYtEjAlmAYt4a41eh36NAT2iafzTdwJzez8tc
VAPID_EMAIL=mmshooreshi@gmail.com

# Backend
PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000
VITE_VAPID_PUBLIC_KEY=REPLACE_ME
